*.pyc
.coverage
build/*
dist/*
*.swp
.DS_Store
*.orig
*.egg-info
MANIFEST
.coverage
*.aux.xml
*.ipynb_checkpoints*
.idea
.eggs
.cache

tests/output/*
!tests/output/README.md
examples/*/*.tif
examples/*/*.log.txt
examples/*/*.geojson
examples/*/*.manifest.json